* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.counter {
  width: 800px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 25px auto;
}

.step-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-message {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-counter button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 24px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.step-counter p {
  font-size: 24px;
}

.step-counter input[type="text"] {
  width: 75%;
  height: 40px;
  font-size: 24px;
  border-radius: 7px;
  text-align: center;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 75%;
  height: 20px;
  cursor: pointer;
}

.slider-wrapper p {
  font-size: 24px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  cursor: pointer;
  height: 40px;
  width: 80px;
  font-size: 18px;
  border-radius: 7px;
  border: black solid 1px;
}
